/* your styles go here */

.main-navigation {
    /* border-bottom-color: rgba(255,255,255,.26); */
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /* background-color: #0808084a; */
    height: 130px;

}

.main .container {
    position: relative;
    z-index: 2;
   margin-top: 60px;
}

.main .mailing-list {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.main .sub {
    font-size: 22px;
    text-transform: uppercase;
}

.icon {
    font-size: 32px;
    font-weight: bold;
    color: #ffff;
    text-align: left;
    display: inline;
}

.email-footer{
  font-size: 16px;
  /* //margin-bottom: 0px; */
}

.copy-footer{
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 991px){
.copy-footer {
    text-align: center;
}

.email-footer i{
  font-size: 16px;
}
.img-center{
  margin-top: 80px;
}
