// Desktop and Tablets landcaspe
@media screen and (max-width: 750px) {

  .header-action {
    min-height: 1040px;
  }

  .header-action .contet-logo-home img {
    padding-top: 200px;
  }

  .header-action .content-flex-home {
    margin-top: 10px;
  }

  // SERVICE
  .service .content-full-flex-service-content .content-location .img-aviao img {
    width: 70%;
    height: 30%;
    margin-top: 120px;
  }

  .service .content-full-flex-service-content .content-destination .buscamos img {
    margin-top: 0px;
  }

}
