// Smartphne 568
@media screen and (max-width: 568px){

  // HEADER

  .header-action {
    min-height: 600px;
  }

  .header-action .contet-logo-home img {
    padding-top: 60px;
  }

  .header-action .content-flex-home .content-logo h1 {
    font-size: 25px;
  }

  .header-action .content-flex-home .content-logo h2 {
    font-size: 20px;
  }

  // SERVICE
  .service .content-full-flex-service-content .content-destination .levamos {
    padding-bottom: 30px;
  }

  // TRANSPORT
  .transport .content-full-flex-transport-content .content-list-transport .list-transport li {
    margin-left: 60px;
  }
}
