// Smartphone Blaclberry
@media screen and (max-width: 360px){

  // HEADER
  .header-action .contet-logo-home img {
    padding-top: 250px;
  }

  // TRANSPORT
  .transport .content-full-flex-transport-content .content-list-transport .list-transport li {
    margin-left: 80px;
  }

  .transport .content-full-flex-transport-content .picture-transport .car img {
    height: 20%;
    width: 90%;
    margin-top: 100px;
  }

  .contact .content-full-flex-contact .contact-flex ul li i {
    font-size: 20px;
  }

  .contact .content-full-flex-contact .contact-flex ul li h2 {
    font-size: 16px;
  }

  footer .content-full-flex-footer .right-footer h3 {
    font-size: 6px;
  }

}
