// TABLETS
@media screen and (max-width: 979px) {

  // Home
  .header-action {

    // Content Flex Home
    .content-flex-home {

        margin-top: 10px;

        }
    }

    // CONTACT

    .contact {
    margin-top: -300px;
    }
    .contact {
      .content-full-flex-contact{
        .contact-flex {
          display: flex;
          margin-top: 100px;
          justify-content: center;
          width: 70%;
          min-height: inherit;
          padding-bottom: 70px;
        }
      }
    }
}
