// TABLETS
@media screen and (max-width: 960px) {

  .header-action {
    min-height: 500px;
  }

  .header-action .content-flex-home .content-video .video-conf {
    margin-top: -200px;
  }

  .contact {
    margin-top: -200px;
  }

  .header-action .contet-logo-home img {
    padding-top: 130px;
  }
}
