// Smatphone Nexus
@media screen and (max-width: 412px){
  .header-action .contet-logo-home img {
    padding-top: 240px;
  }
  .header-action .content-flex-home {
    margin-top: 0px;
  }

  // RESERVE
  .reserve .content-full-flex-reserve .reserve-flex ul li .logos-reserve {
    height: 30%;
  }

}
