// Smatphone Iphone Plus
@media screen and (max-width: 414px){

  .header-action .contet-logo-home {
    margin-top: -100px;
  }
  .header-action .contet-logo-home img {
    padding-top: 300px;
  }

  .header-action .content-flex-home {
    margin-top: 10px;
  }

  .header-action .content-flex-home .text-home .icon-move {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .reserve .content-full-flex-reserve #form-main {
    margin-top: -30px;
    margin-bottom: 30px;
  }

}
