// Desktop and Tablets landcaspe
@media screen and (max-width: 1024px) {

  // HEADER
  .header-action .content-flex-home {
    margin-top: 10px;
  }

  .header-action {
    min-height: 1200px;
  }

  .header-action .content-flex-home .content-video .video-conf {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-top: -200px;
  }

  .contact {
    margin-top: -200px;
  }
}
