// Contact
div.contact#contact-li
  div.content-full-flex-contact
    //- div.title-flex-contact
    //-   h2 Contatos 
    
    div.contact-flex 
      ul
        //- li
        //-   i(class="fa fa-phone" aria-hidden="true")
        //-   h2 +55 61 8133-8568 
            
        li
          i(class="fa fa-envelope-o" aria-hidden="true") 
          h2 idealprodutora@gmail.com     

    //div.moveup-contact
      a(href="#header")
        i(class="fa fa-angle-up" aria-hidden="true")
