footer
  div.content-full-flex-footer
    div.left-footer
      a(href="#")
        img(src="img/icon_page.png")
      h3 Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
      
    div.right-footer
      h3 Developer by <a href="https://kleitonads.github.io/profile/index.html" target="_blank"> Kleiton Azevedo </a>
       

      
      script(src="js/jquery.js", type="text/javascript")
      script(src="js/functions.js", type="text/javascript")
      script(src="js/contact.js", type="text/javascript")
      

       
      
      
            
        
